// font-family: 'Fira Code', monospace;
// font-family: 'Roboto', sans-serif;
// font-family: 'Pacifico', cursive;
:root {
  --purple-700: #553c9a;
  --purple-600: #6b46c1;
  --purple-500: #6b46c1;
  --purple-400: #9f7aea;
  --purple-300: #b794f4;
  --purple-200: #d6bcfa;
  //
  --pink-700: #97266d;
  --pink-600: #b83280;
  --pink-500: #d53f8c;
  --pink-400: #ed64a6;
  --pink-300: #f687b3;
  //
  --black: #000000;
  --white: #ffffff;
  //
  --blue-900: #1a365d;
  --blue-800: #2a4365;
  --blue-600: #2b6cb0;
  --blue-500: #3182ce;
  --blue-400: #4299e1;
  --blue-300: #63b3ed;
  --blue-200: #90cdf4;
  --blue-50: #ebf8ff;
  //
  --gray-900: #171923;
  --gray-800: #1a202c;
  //
  --cyan-50: #edfdfd;
  //
  --red-900: #63171b;
  --red-500: #e53e3e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body,
input,
textarea,
button {
  font-family: "Fira Code", monospace;
}

button {
  cursor: pointer;
}
